{:bunq
 {:client-id "BUNQ_CLIENT_ID"
  :client-secret "BUNQ_CLIENT_SECRET"}

 :google
 {:client-id "GOOGLE_CLIENT_ID"
  :client-secret "GOOGLE_CLIENT_SECRET"}

 :google-sheets
 {:spreadsheet-id "SPREADSHEET_ID (from URL)"
  :sheet-title    "TARGET_SHEET_TITLE"}}
